.acordeon__main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;

    .accordion {
        width: 1000px;
        margin-bottom: 100px;
    }



}

.main__ayuda {
    background-color: #e7e7e7;

}

.titulo__ayuda {
    @include posiciontitilo();
}